# El planteamiento del ejercicio es el siguiente:

El archivo transaccional_muestra.csv contiene un mes de transacciones de una empresa de retail; es un ejemplo similar a los datos con los que trabajamos habitualmente. En este ejercicio te pedimos lo siguiente:

<b> 1. Primero dale una mirada a los datos para familiarizarte con ellos; los nombres de las columnas son auto explicativos.</b>

In [1]:
import pandas as pd
import numpy as np
# Convistiendo el archivo .csv a data frame. 

df = pd.read_csv("transaccional_muestra.csv")

# Familiarizandome con los datos

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266617 entries, 0 to 266616
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id_transaccion  266617 non-null  int64
 1   id_fecha        266617 non-null  object
 2   id_tienda       266617 non-null  int64
 3   id_cliente      266617 non-null  object
 4   monto           266617 non-null  float64
 5   unidades        266617 non-null  int64
 6   id_producto     266617 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 14.2+ MB

In [2]:
# Esta tabla me sirve para identificar valores no representttivos para el analisis
# de manera rapida
df.describe()

,id_transaccion,id_tienda,monto,unidades,id_producto
count,2.666170e+05,266617.000000,266617.000000,266617.000000,2.666170e+05
mean,8.168497e+04,10.128038,40.747171,1.035778,2.116181e+05
std,1.313679e+05,9.621381,86.104906,0.452394,3.480063e+05
min,0.000000e+00,1.000000,-3554.935162,1.000000,0.000000e+00
25%,3.881000e+04,3.000000,10.674900,1.000000,2.611000e+03
50%,7.705900e+04,7.000000,22.841575,1.000000,2.542700e+04
75%,1.168780e+05,12.000000,42.656136,1.000000,2.149330e+05
max,4.237486e+06,49.000000,3554.935162,53.000000,1.313809e+06

In [3]:
df.head()

,id_transaccion,id_fecha,id_tienda,id_cliente,monto,unidades,id_producto
0,3420,2018-03-02,1,14e8e09751058711deec7f160f2b34ec,9.176690,1,3523
1,2293,2018-03-02,11,bca2a43470e6f1097013d8a01ad2df73,16.691722,1,4883
2,2519,2018-03-02,1,a0b7648eed7a4f1da33f7de962f104b1,500.985471,1,209
3,2520,2018-03-02,1,546d432da6034e5a355c92192c09c687,30.043430,1,1127
4,3457,2018-03-02,1,14e8e09751058711deec7f160f2b34ec,9.176690,1,23945

In [10]:
df[df['monto']==-3554.935162].value_counts()

Series([], Name: id_tienda, dtype: int64)

In [ ]:
2. ¿Hay outliers? Si hay, identifícalos y explica por qué los consideraste así.
3. Trabajando sólo con los datos que correspondan a compras:
3.1. Calcula el indicador "Transacciones por cliente" para cada tienda, y describe la distribución del indicador
3.2. Calcula el indicador "Ticket promedio" (es decir, el monto total promedio por cada transacción) para cada tienda.
3.2.1. ¿A qué se puede deber las diferencias en ticket promedio entre las distintas tiendas?
4. La compañía desea hacer una segmentación básica de sus clientes. La idea es determinar un segmento de los "clientes VIP", es decir, sus mejores clientes, versus el resto de los clientes.
4.1. Si sólo tuvieras acceso a estos datos, ¿cuál sería tu recomendación a la compañía? ¿Qué clientes elegirías y con qué parámetros los seleccionarías?
4.2. Si pudieras pedir más datos para poder hacer esta segmentación, ¿qué datos pedirías?